<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<table th:if="list!=null">
    <tr th:each="ShopItem: ${list}">
        <td th:text="${ShopItem.getName()}"/>
        <td th:text="${ShopItem.getDescription()}"/>
        <td th:text="${#numbers.formatDecimal(ShopItem.getPrice(), 0, 'COMMA', 2, 'POINT')}"/>
        <td th:text="${ShopItem.getQuantityOfStock()}"/>
    </tr>
</table>
<span th:text=" ${average!=null} ? 'Average stock: '+${average}"/>
<span th:text=" ${name1!=null} ? 'Most expensive item: '+${name1}"/>
</body>
</html>